@import "tailwindcss";

:root {
  --background: #e5e2e2;
  --foreground: #4a2d37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e5e2e2;
    --foreground: #4a2d37;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-switzer);
  overflow: hidden;
  position: relative;
}

.bask-font {
  font-family: var(--font-baskervvol);
}

.main-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  /* optional */
  pointer-events: none;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-title {
  position: absolute;
  top: 3.75rem;
  color: var(--foreground);
}
